<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="flex">
    <h1>this is register page</h1>
    <h2>register here</h2>
    <form action="/register" method="post" >
        username: <input type="text" name="uname"><br><br>
        password: <input type="password" name="pass"><br><br>
        <button class="btn" type="submit">register</button>
        <p>already hav an account? <a href="/login">login</a></p>
    </form>
   </div>
    
</body>
</html>